li{
    list-style: none;
}

.header-products{
    height: 200px;
}

.main-products{
    background-color: #E6E3C4;
    color: #282828;
    margin-top: 0;
    padding: 30px 0;
}


.main__breadcrumbs-list{
    display: flex;
    font-size: 16px;

}
.main__breadcrumbs-item{
    list-style: none;
}
.main__breadcrumbs-item::after{
    content: '/';
    padding: 5px;
}
.main__breadcrumbs-item::after{
    content: '/';
}
.main__breadcrumbs-item:last-child::after{
    content:'';
}

.main__breadcrumbs-item a{
    color: #282828;
}

.main__navbar{
    color: #282828;
    width:260px ;
    border: 1px solid #FFFFFF;
}
.main__navbar-item{
    border-bottom: 1px solid #FFFFFF;
    padding: 15px;
    text-transform: uppercase;
}
.main__navbar-item a{
    color: #282828;
}
.main__navbar-item-qty{
    float: right;
}
.main__filters-location{
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.main__filters-location-btn{
    border: none;
    background: none;
}
.main__content-title{
    margin-bottom: 20px;
    text-align: left;
}
.main__content-description{
    line-height: 1.5;
    margin-bottom: 20px;
}

.main__goods{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.main__product{
    border: 1px solid #FFFFFF;
    padding: 10px;
}
.main__sort{
    margin-bottom: 10px;
}

.main__product-wishlist{
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.main__product-wishlist-add-link{
    padding-right: 10px;
}
.main__product-img{
    width:200px;
    height: 205px;
    padding: 0 20px;
}
.main__product-title{
    color: #282828;
}.main__product-description{
     margin:10px 0 20px;
 }
.main__product-description-text{
    margin-bottom:5px;
}
.main__product-text--bold{
    font-weight: 700;
}
.main__product-input-qty{
   margin-left: 10px;
    width: 50px;
}
.main__product-rating{
    margin-bottom: 5px;
}
.main__product-addtocart{
    display: flex;
    justify-content: center;
    margin-top:10px;
}








